<a href="https://colab.research.google.com/github/IvRodco/EstadisticaAplicasa_1899843/blob/main/Actividad3_ILRA_1899843_EAG41_ago2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio de Pandas

Carga las 2 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, y pandas

**Coloca tu nombre y matricula**

Nombre: Ivanna Lizeth Rodriguez Ambriz

Matricula: 1899843

1. Carga las librerias básicas

In [97]:
##### carga las dos librerias usadas (numpy, pandas )

import pandas as pd
import numpy as np

El siguiente comando importa un data frame desde un archivo csv de internet

In [105]:
ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas2.csv')
type(ventas)
ventas.round()
ventas

      Año         Mes  Ventas  Gasto
0    2010       Enero    1056    533
1    2010     Febrero     910    496
2    2010       Marzo    1095    695
3    2010       Abril    1157    599
4    2010        Mayo     969    490
..    ...         ...     ...    ...
163  2023      Agosto    1759   1818
164  2023  Septiembre    2114   2142
165  2023     Octubre    2120   1767
166  2023   Noviembre    2102   1652
167  2023   Diciembre    2166   2192

[168 rows x 4 columns]

En caso de que una cantidad contenga decimales, debe estar redondeada a un decimal

2. Características del dataframe

In [99]:
#con código de python muestra cuantas filas y columnas tiene el dataframe y como se llaman las columnas
ventas.shape

##TENEMOS 168 FILAS Y 4 COLUMNAS

(168, 4)

In [100]:
#muestra las primeras 5 filas del dataframe
ventas.head(5)

    Año      Mes  Ventas  Gasto
0  2010    Enero    1056    533
1  2010  Febrero     910    496
2  2010    Marzo    1095    695
3  2010    Abril    1157    599
4  2010     Mayo     969    490

*ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2010-2023*

3. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [103]:
## escribe aqui el código

ventas['Ganancias']=ventas['Ventas']-ventas['Gasto']
ventas

            Ventas  Gasto  Ganancias
Mes
Enero         1056    533        523
Febrero        910    496        414
Marzo         1095    695        400
Abril         1157    599        558
Mayo           969    490        479
...            ...    ...        ...
Agosto        1759   1818        -59
Septiembre    2114   2142        -28
Octubre       2120   1767        353
Noviembre     2102   1652        450
Diciembre     2166   2192        -26

[168 rows x 3 columns]

4. Encuentra el mes-año con las ganancias más altas

In [106]:
## escribe aqui el código

ventas=ventas.set_index('Año')
ventas

             Mes  Ventas  Gasto
Año
2010       Enero    1056    533
2010     Febrero     910    496
2010       Marzo    1095    695
2010       Abril    1157    599
2010        Mayo     969    490
...          ...     ...    ...
2023      Agosto    1759   1818
2023  Septiembre    2114   2142
2023     Octubre    2120   1767
2023   Noviembre    2102   1652
2023   Diciembre    2166   2192

[168 rows x 3 columns]

5. Calcula e imprime las ventas totales, gastos totales y ganancias totales de  todo el periodo\
Ejemplo de mensaje: **las ventas totales son: 5000**, etc

In [107]:
## escribe aqui el código

ventas.groupby('Mes')['Ventas'].agg('sum')

Mes
Abril         20405
Agosto        20130
Diciembre     19833
Enero         20073
Febrero       19689
Julio         19091
Junio         18560
Marzo         19522
Mayo          19736
Noviembre     20393
Octubre       19436
Septiembre    18863
Name: Ventas, dtype: int64

6. Calcula y muestra las ventas, gastos y ganancias para cada año

In [109]:
## escribe aqui el código
ventas.groupby('Año')['Ventas'].agg('sum')

Año
2010    12015
2011    12778
2012    12965
2013    14037
2014    14922
2015    14951
2016    15376
2017    17189
2018    18325
2019    18204
2020    18917
2021    21057
2022    21692
2023    23303
Name: Ventas, dtype: int64

7. Calcula y muestra las ventas promedio mensuales del año 2015

In [118]:

## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas

#Voy aqui

He batallado en la pregunta 4,5,7 y 8

8. Calcula e imprime las ventas totales y ventas promedio para los eneros. Es decir, para enero de 2010, enero de 2011, enero 2012, etc

In [ ]:
## escribe aqui el código ventas totales
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas

In [ ]:
## escribe aqui el código ventas promedio

9. Calcula las ventas promedio por mes, y muestra los meses ordenados de menor a mayor según su promedio

In [74]:
## aqui va tu codigo

ventas.groupby('Mes')['Ventas'].agg('mean').round(2)

Mes
Abril         1457.50
Agosto        1437.86
Diciembre     1416.64
Enero         1433.79
Febrero       1406.36
Julio         1363.64
Junio         1325.71
Marzo         1394.43
Mayo          1409.71
Noviembre     1456.64
Octubre       1388.29
Septiembre    1347.36
Name: Ventas, dtype: float64