<a href="https://colab.research.google.com/github/IvRodco/EstadisticaAplicasa_1899843/blob/main/Sesion2_EA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Estadistica aplicada

###Sesion 2, 9 de agosto

####Ivanna Lizeth Rodriguez Ambriz 1899843


Lista en python es una coleccion de objetos que pueden ser de distnto tipo

nombrelista = [objeto1, objeto2, objeto3,etc]

In [ ]:
alumno1=['Juan','Perez',19]

type(alumno1)

list
alumno1

['Juan', 'Perez', 19]

In [ ]:
#se asignan los elementos de la lista
Estadistica_G4=['Juan','Raul','Jimena','Alejandra']

#se muestra la lista
Estadistica_G4

['Juan', 'Raul', 'Jimena', 'Alejandra']

In [ ]:
#Para elegir un objeto es especifico de una lista

#En este caso eligiremos a Alejandra

Estadistica_G4[3]

#NOTA: python empieza a contar desde la posicion 0, por lo tanto Alejandra es la posicion 3

'Alejandra'

In [ ]:
#haremos el ejemplo de elegir a Juan de la lista

Estadistica_G4[0]

'Juan'

In [ ]:
#Ahora para seleccionar dos objetos

#Si queremos seleccionar a Juan y Alejandra

Estadistica_G4[0],Estadistica_G4[3]

['Juan', 'Alejandra']

In [ ]:
#o bien tambien se puede hacer como

Estadistica_G4[0::3]

['Juan', 'Alejandra']

In [ ]:
#Los 2 puntos significa de cero hasta, por lo tanto al usar de la posicion 0 hasta la posicion 3 toma el 0,1 y 2 excluyendo al 3
Estadistica_G4[0:3]

['Juan', 'Raul', 'Jimena']

In [ ]:
#tambien puede tomar la posicion contando al reves, pero ahora sin contar el cero

#entonces si queremos a Alejandra podemos ponerlo como

Estadistica_G4[-1]

'Alejandra'

In [ ]:
#Para eliminar un elemento de la lista

#en este caso queremos quitar a Jimena

Estadistica_G4.remove('Jimena')

#revsamos que ya no se encuentre Jimena en la lista

Estadistica_G4

['Juan', 'Alejandra', 'Raul']

In [ ]:
#para agregar un nuevo elemento a la lista

Estadistica_G4.append('Jaime')

#Verificamos que se agrego Jaime
Estadistica_G4

['Juan', 'Alejandra', 'Raul', 'Jaime']

In [ ]:
#realizamos una lista donde estoy mis amigos y yo

#en la cual me voy a elegir

amigosbff=['Luis','ivanna','Marcelo','Renata']

#vemos que contiene la lista
amigosbff

['Luis', 'ivanna', 'Marcelo', 'Renata']

In [ ]:
#asigno quien soy yo

yo = amigosbff[1]

#reviso que realmente sea yo la de la posicion 2
yo

'ivanna'

In [ ]:
#creo una lista que tenga nombre,carrera,semestre y promedio

yo_enFCFM =['Ivanna','LA',7,80]

#muestro la lista de mis datos
yo_enFCFM

['Ivanna', 'LA', 7, 80]

In [ ]:
#asigno una variable a cada dato en la lista

mi_promedio =yo_enFCFM[3]
mi_carrera =yo_enFCFM[1]


mi_promedio,mi_carrera

(80, 'LA')

1-Instalar la libreria(una sola vez)
2-Decirle a python que use la libreria

Ejemplo:
Instalar la libreria de yahoofinance, la cual nos permite ver lo de yahoo Finance

In [ ]:
pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.27)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2023.7.22)

In [ ]:
import yfinance

In [ ]:
yfinance.download('WALMEX.MX')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2003-01-01   5.724499   5.946570   5.724499   5.879949   4.356911         0
2003-01-02   5.724499   5.946570   5.724499   5.879949   4.356911   8334330
2003-01-03   5.872546   5.909558   5.850339   5.872546   4.351426  18475096
2003-01-06   5.872546   6.116825   5.872546   6.104487   4.523289  16180223
2003-01-07   6.104487   6.104487   5.951505   5.963842   4.419074  15261074
...               ...        ...        ...        ...        ...       ...
2023-08-03  69.309998  69.349998  67.349998  67.410004  67.410004  25053073
2023-08-04  67.400002  69.099998  67.370003  69.070000  69.070000  11936860
2023-08-07  68.900002  69.589996  68.099998  68.300003  68.300003  15582252
2023-08-08  68.309998  68.639999  67.400002  67.809998  67.809998  18350539
2023-08-09  67.879997  68.750000  67.879997  68.260002  68.260002   8167945

[5213 rows x 6 columns]