<a href="https://colab.research.google.com/github/IvRodco/EstadisticaAplicasa_1899843/blob/main/Sesion7_G41_23ago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estadistica Aplicada

##Sesion 7, 23 de agosto

###Ivanna Lizeth Rodriguez Ambriz

###1899843

Grupo 41

In [ ]:
#importamos librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

#libreria MCO
import statsmodels.formula.api as smf

In [18]:
datos= pd.read_excel('modelolineal.xlsx')
datos

    observación          Y   X
0             1  19.246957  23
1             2  16.878501  19
2             3  20.187237  27
3             4  12.176789  13
4             5  21.420112  21
5             6  24.436799  22
6             7  14.507928  19
7             8  16.013496  14
8             9  12.043514   3
9            10   6.808838   1
10           11  20.473608  19
11           12  19.688717  18
12           13  20.405782  12
13           14  24.959259  16
14           15  23.913532  29
15           16  22.719407  23
16           17  18.680587  14
17           18  17.192583  20
18           19  28.422786  27
19           20  24.757379  28
20           21   9.544102   0
21           22  24.230330  20
22           23  26.417826  24
23           24  23.066723  23
24           25  13.145005   8
25           26  24.385156  24
26           27  12.934102  10
27           28  14.002469   4
28           29  26.599047  29
29           30  11.910387  10

In [ ]:
##aparentemente existe una relacion lineal entonces se puede estimar minimos cuadrados ordinarios
#se puede estimar MCO

reg= smf.ols(formula='Y~X', data='datos')
results= reg.fit()
print(results.rummary())

In [ ]:
#visto tenemos una prueba de hipotesis en donde H0:B1=0 y H1:B1=/=0
##Intercepto: p value<alfa -----> se rechaza H0, significa que el intercepto es distintode cero
##(Xi|Bi)---> p value<alfa------> rechazamos H0, significa que X si afecta Y
##En promedio cuando X incrementa en uno Y incrementa en 0.58